* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202020;
}

/* Card */
.slider {
  width: 320px;
  height: 480px;
  background: #0f766e;
  border-radius: 8px;
  padding: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

/* Image area */
.image {
  height: 260px;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Title */
.title {
  text-align: center;
  font-size: 1.15rem;
  font-weight: 700;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.description {
  font-size: 0.92rem;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.95);
  min-height: 54px;
  font-family: "Momo Trust Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Buttons */
.previousbtn,
.nextbtn {
  padding: 8px 12px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  font-weight: 700;
  color: #14532d;
  border-radius: 6px;
}

.previousbtn:hover,
.nextbtn:hover {
  background: #09635b;
  color: #fff;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
}
.previousbtn {
  align-self: flex-start;
}

.nextbtn {
  align-self: flex-end;
}

/* make layout slightly better on small screens */
@media (max-width: 360px) {
  .slider {
    width: 92%;
    padding: 12px;
  }
  .image {
    height: 200px;
  }
}
